.dropdowns-wrapper {
    display: flex;
    gap: 3rem;
    padding: 3rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 42rem;
    height: 32rem;
    align-content: space-between;
    border: 1px dashed var(--color-wrapper-border);
    border-radius: 5px;
}

.wrapper-down {
    display: flex;
    gap: 3rem;
}


.dropdown {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    width: 10rem;
    height: 13rem;
    background: var(--color-white);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1), 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.dropdown__label {
    position: relative;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    display: flex;
}

.dropdown__item > .checkbox > label > .checkbox__icon {
    left: 1rem;
    top: 0.5rem;
}

.checkbox__area_disabled {
    display: none;
}

.checkbox__area_disabled + .checkbox__icon {
    display: none;
}

.dropdown__item > .checkbox > .dropdown__label > .checkbox__area:checked ~ .checkbox__text {
    color: var(--color-blue);
}


.dropdown_size_number {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.5rem;
    width: 10rem;
    height: 5.5rem;
}

.dropdown_size_number > .input > .input__label {
    width: 8rem;

}

.dropdown_size_number > .input > .input__text {
    width: 8rem;
    height: 2rem;
    box-sizing: border-box;
    background: var(--color-white);
    border: 0.0625rem solid var(--color-blue);
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}


.dropdown_select {
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 7rem;
    padding: 1rem;
}

.dropdown__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 8rem;
    height: 5rem;
    gap: 0.5rem;
}

.dropdown_select > .button {
    display: flex;
    width: 100%;
}

.dropdown_select > .dropdown__content > .button {
    width: 100%;
}

.dropdown_select > .dropdown__content > .button {
    width: 100%;
}

.dropdown_select > .dropdown__content > .button_active {
    background-color: var(--color-blue);
}

.dropdown_select > .dropdown__content > .button_active > .button__text {
    color: var(--color-white);
}

.dropdown_select > .dropdown__content > .button > .button__icon {
    stroke: var(--color-blue);
    fill: var(--color-blue);
}

.dropdown_select > .dropdown__content > .button_active > .button__icon {
    stroke: var(--color-white);
    fill: var(--color-white);
}
