.radio-wrapper {
    display: flex;
    width: 6.5rem;
    height: 4rem;
    border: 0.0625rem dashed #8055FF;
    border-radius: 0.3125rem;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

.radio {
    position: relative;
}

.radio__area {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--color-white);
    border: 0.0625rem solid var(--color-light-blue);
    box-sizing: border-box;
    border-radius: 0.9375rem;
    margin: 0;
}

.radio__area:checked {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
}

.radio__icon {
    position: absolute;
    top:0;
    left: 0;
    width: 1rem;
    fill: var(--color-white);
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.radio__area:active {
    background-color: var(--color-light-blue);
}

.radio__area:checked + .radio__icon {
    opacity: 1;
}
